<div class="card shadow">
    <div class="card-body">
        <h3 class="card-title">
            {{ blogPost.title }}
        </h3>
        <div class="card-text">
            {{ blogPost.content | markdown_to_html }}
        </div>
    </div>
</div>