{% extends 'base.html.twig' %}

{% block title %}{{  blogPost.title }}{% endblock %}


 {% block body %}
     <h1>{{ blogPost.title }}</h1>
     <p>{{ blogPost.content | markdown_to_html }}</p>
 {% endblock %}
