.breadcrumb {
  border-radius: 2px;
  flex-wrap: wrap;
  min-height: 3.5rem;
  padding: .625rem 1rem;
}

.breadcrumb, .breadcrumb-item {
  align-items: center;
  display: flex;

  a {
    text-decoration: none;
  }
}

.breadcrumb-item.active {
  font-weight: bold;
}