app.breadcrumb:
    app_blog_post_list:
        text: route.name.blog_post_list

    app_blog_post_item:
        text: '{blogPost.title}'
        parent: app_blog_post_list
        params:
            slug: '{blogPost.slug}'

    app_login:
        text:  route.name.login

    app_profile:
        text: route.name.profile

    app_admin:
        text: route.name.admin

    app_admin_blog_post_manage:
        parent: app_admin
        text: route.name.admin.blog_post_manage

    app_admin_blog_post_create:
        parent: app_admin_blog_post_manage
        text: route.name.admin.blog_post_create
