<a  {% for attr, value  in attributes %}
    {{ attr }}="{{ value }}" {% endfor %}
    {{ ajaxMode ? 'data-controller="pagination"' : '' }}
    data-action="pagination#goTo"
>
    <div class="d-flex">
        <div>{{ title }}</div>
        <div class="ms-auto">
        {% if sorted %}
            {% if direction == 'desc' %}
                <i class="fa fa-sort-down"></i>
            {% else %}
                <i class="fa fa-sort-up"></i>
            {% endif %}
        {% else %}
            <i class="fa fa-sort"></i>
        {% endif %}
    </div>
    </div>
</a>
