$primary: #3B71CA;
$secondary: #9FA6B2;
$success: #14A44D;
$danger: #DC4C64;
$warning: #E4A11B;
$info: #54B4D3;
$light: #FBFBFB;
$dark: #332D2D;

$background: #ffffff;
$breadcrumb-bg: #b4c5d6;
$navbar-bg: #2C3E50;
$footer-bg: #2C3E50;

$pagination-bg: inherit;
$pagination-border-color: inherite;
$pagination-border-radius: 50%;
