@import 'styles/variables.scss';

@import '~bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.css';

@import 'styles/utilities/bootstrap-utilities';
@import 'styles/components/button';
@import 'styles/components/breadcrumb';
@import 'styles/components/pagination';

body {
    background-color: $background;
}

