@import 'styles/variables.scss';

@import '~bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '@fontsource/open-sans';

@import 'styles/utilities/bootstrap-utilities';
@import 'styles/components/button';
@import 'styles/components/breadcrumb';
@import 'styles/components/pagination';

body {
    background-color: $background;
    color: $text-color;
    font-family: 'Open Sans', system-ui;
}

header {
    background-color: $navbar-bg;
}

footer {
    background-color: $footer-bg;
}