@import 'styles/variables.scss';

@import '~bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '@fontsource/open-sans';

@import 'styles/utilities/bootstrap-utilities';
@import 'styles/components/button';
@import 'styles/components/breadcrumb';
@import 'styles/components/pagination';

body {
    background-color: $background;
    color: $text-color;
    font-family: 'Open Sans', system-ui;
}

header {
    background-color: $navbar-bg;
}

footer {
    background-color: $footer-bg;
}

.app-mask:hover {
    opacity: 0.7;
}

.app-mask {
    transition: 0.8s ease;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-attachment: fixed;
}

.app-zoom-on-hover {
    overflow: hidden;
    display: inline-block;

    img {
        display: block;
        transition: .3s ease-in-out;
    }
}

.app-zoom-on-hover:hover img {
    transform: scale(1.3);
}

label.required:after, legend.required:after {
    content: "*";
    color: red;
}