<markdown-toolbar for="{{ forId }}" data-controller="markdown-toolbar">
    <md-bold class="cursor-pointer" title="bold"><i class="fa-solid fa-bold"></i></md-bold>
    <md-header class="cursor-pointer" title="header"><i class="fa-solid fa-heading"></i></md-header>
    <md-italic class="cursor-pointer" title="italic"><i class="fa-solid fa-italic"></i></md-italic>
    <md-strikethrough class="cursor-pointer" title="strikethrough"><i class="fa-solid fa-strikethrough"></i></md-strikethrough>
    <md-quote class="cursor-pointer" title="quote"><i class="fa-solid fa-quote-left"></i></md-quote>
    <md-code class="cursor-pointer" title="code"><i class="fa-solid fa-code"></i></md-code>
    <md-link class="cursor-pointer" title="link"><i class="fa-solid fa-link"></i></md-link>
    <md-image class="cursor-pointer" title="image"><i class="fa-solid fa-image"></i></md-image>
    <md-unordered-list class="cursor-pointer" title="unordered List"><i class="fa-solid fa-list"></i></md-unordered-list>
    <md-ordered-list class="cursor-pointer" title="ordered list"><i class="fa-solid fa-list-ol"></i></md-ordered-list>
    <md-task-list class="cursor-pointer" title="task"><i class="fa-solid fa-list-check"></i></md-task-list>
    <md-mention class="cursor-pointer" title="mention"><i class="fa-solid fa-at"></i></md-mention>
    {# <md-ref class="cursor-pointer" title="ref">ref</md-ref>#}
    {# <button class="cursor-pointer" data-md-button><i class="fa-solid fa-image"></i></button> #}
</markdown-toolbar>