{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center">
        <h1>{{ 'error.403.title' | trans }}</h1>

        <p>
            {{ 'error.403.msg' | trans }}
        </p>
    </div>
{% endblock %}