<div class="d-flex justify-content-center">
    {% for icon in icons %}
        <a href="{{ icon.href }}" target="_blank" class="m-2">
            <i class="{{ icon.icon }}" style="color: {{ icon.color }}"></i>
        </a>
    {% endfor %}
</div>
